* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.resume {
    border: 1px solid #8f8f8f;
}
.resume-img {
    width: 200px;
    height: 200px;
    background-image: url('../img/profileimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid goldenrod;
    border-radius: 50%;
    margin: 50px;
  }
.resume-img .name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: brown;
    padding-top: 200px;
}
.resume-img .designation {
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: #8f8f8f;
}
/* main content - about start */
.content {
    display: flex;
}
.content .left-side {
    width: 30%;
    display: flex;
    justify-content: left;
}
.content .left-side .about .about-us {
    border-left: 3px solid brown;
    color: brown;
    padding: 10px;
    margin: 10px 30px;
}
.left-side .about .about-content {
    font-size: 17px;
    color: #8f8f8f;
    padding: 10px 30px;
}
/* contact start */
.contact {
  font-size: 25px;
    border-left: 3px solid brown;
    padding: 10px;
    margin-left: 30px;
    color: brown;
}
.contacts {
    margin: 10px 20px;
    padding: 10px;
    font-size: 17px;
    color: #8f8f8f;
}
.contacts .contact-heading {
    font-size: 19px;
    color: black;
    padding-bottom: 9px;
}
/* skills start */
.skill {
    border-left: 3px solid brown;
    padding: 10px;
    margin-left: 30px;
    color: brown;
    font-size: 25px;
}
.skills {
    margin: 10px 20px;
    padding: 10px;
    font-size: 17px;
    color: #8f8f8f;
}
.skills label {
    font-size: 17px;
    color: #8f8f8f;
    padding-bottom: 9px;
}

/* progress { 
    background: brown; 
}  */
.right-side {
    width: 70%;
    display: flex;
    justify-content: left;
    border-left: 3px dotted brown;
    margin: 20px;
}
.right-content .education {
    margin: 20px;
    border-left: 3px solid brown;
    padding-left: 10px;
    color: brown;
}
.right-content .educ {
    padding: 10px 20px;
}
.right-content .educ .educ-heading {
    padding-bottom: 6px;
}
.right-content .educ .educ-para {
    font-size: 17px;
    color: #8f8f8f;
}
ul li {
  font-size: 17px;
  color: #8f8f8f;
  padding: 10px;
  margin-left: 20px;
}
/* lang start */
.lang {
    display: flex;
    border-left: 3px solid brown;
    padding: 10px;
    margin: 30px 20px;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* height: 100vh; */
    align-items: center;
    
  }
.progress {
    display: flex;
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: black;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: white;
    text-align: center;
    line-height: 200px;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px white;
  }
  .progress::after {
    content: "%";
  }
  .progress .title {
    position: relative;
    z-index: 100;
  }
  .progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
  }
  .progress .left,
  .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid brown;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
  }
  .progress .left {
    animation: load1 1s linear forwards;
  }
  .progress:nth-of-type(2) .right,
  .progress:nth-of-type(3) .right {
    animation: load2 0.5s linear forwards 1s;
  }
  .progress:last-of-type .right,
  .progress:first-of-type .right {
    animation: load3 0.8s linear forwards 1s;
  }
  @keyframes load1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @keyframes load2 {
    0% {
      z-index: 100;
      transform: rotate(180deg);
    }
    100% {
      z-index: 100;
      transform: rotate(270deg);
    }
  }
  @keyframes load3 {
    0% {
      z-index: 100;
      transform: rotate(180deg);
    }
    100% {
      z-index: 100;
      transform: rotate(315deg);
    }
  }









